*{
    margin: 0;
    padding: 0;
}
#titulo{
   font-family: sans-serif;
   color: #380b63;
   margin-left: 7%;
}
#subtitulo{
    font-family: sans-serif;
    color: #380b63;
    margin-left: 20%;
}
fieldset{
    border: 0;
    justify-content: center;
}
body{
    background: #f0f8ff;
    font-family: sans-serif;
    font-size: 16px;
    color: #59429d;
    margin-left: 350px;
    margin-top: 15px;
    justify-content: center;
}
input, select, textarea, button{
    border-radius: 5px;
}
.compo{
    margin-bottom: 12px;
}
.compo label{
    margin-bottom: 3.2px;
    color: #59429d;
    display: block;
}
fieldset.grupo .compo{
    float: left;
    margin-right: 1em;
}
.compo input[type="text"],.compo input[type="email"], .compo select, .compo textarea{
    padding: 3.2px;
    border: 1px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}
.campo section option{
    padding-right: 1em;
}
.compo input:focus, .campo select:focus, .campo textarea:focus{
    background: #e0e0f8;
}
.botao{
    font-size: 21px;
    background: #59429d;
    border: 0;
    margin-bottom: 16px;
    padding: 0.2em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.botao:hover{
    background: #ccbbff;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
} 
#checkd{
    display: inline-block;
}